<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Mon potager</title>
<link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

 <div class="navbar">

      <div class="container">
        <div class="row">

          <nav class="col navbar navbar-expand-lg navbar-dark">

            <div class="navbar-brand">Gestion Potager</div>
<!--             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"> -->
<!--               <span class="navbar-toggler-icon"></span> -->
<!--             </button> -->
<!--             <div id="navbarContent" class="collapse navbar-collapse"> -->
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/accueil">Mes Potagers</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/plante/add">Mes Plantes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/actions">Mes Actions</a>
                </li>
              </ul>
<!--             </div> -->
          </nav>
        </div>
      </div>
    </div>
	<h1>Mes Potagers</h1>

<!-- <div class="container-fluid"> -->
<!-- 	<div class="row"> -->
<!-- 		<div class="col-md-6"> -->
<!-- 		</div> -->
<!-- 		<div class="col-md-6"> -->
<!-- 		</div> -->
<!-- 	</div> -->
<!-- </div> -->
<div class="container-fluid">
	<div class="row">
	<div id="DivPrincipale"class="col-md-4">

		<div th:switch="${potagers}">
			<!-- PROBLEME SUR LE TEST -->
			<h2 th:case="${potagers} == null" class="vide">Aucun potager n'existe !</h2>
			<div th:case="*">
				<h4>Mes Potagers</h4>
				<table>
					<thead>
						<tr>
							<th>NOM</th>
							<th>Surface (m2)</th>
							<th>Localisation</th>
							<th>Ville</th>
							<th>Détail du potager</th>
							<th>supprimer le potager</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="potager : ${potagers}">
							<td th:text="${potager.nom}"></td>
							<td th:text="${potager.surface}"></td>
							<td th:text="${potager.localisation}"></td>
							<td th:text="${potager.ville}"></td>
							<td><a
								th:href="@{/potager/{idPotager}(idPotager=${potager.idPotager})}">Visualiser</a></td>
							<td><a
								th:href="@{/accueil/delete/{id}(id=${potager.idPotager})}">Supprimer</a></td>
						</tr>
					</tbody>

				</table>
				<br>

			</div>

		</div>
	</div>

	<div id="DivPrincipale" class="col-md-4">
		<h4>Ajouter un nouveau potager</h4>
		<form th:action="@{/accueil/add}" th:object="${potager}" method="post">
			<label for="nom">nom du potager</label> <input type="text"
				th:field="*{nom}" id="nom" placeholder="Nom"> <span
				th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="warning"></span> <br>
			<label for="surface">surface (m2)</label> <input type="text"
				th:field="*{surface}" id="surface" placeholder="0"> <span
				th:if="${#fields.hasErrors('surface')}" th:errors="*{surface}" class="warning"></span><br>
			<label for="localisation">localisation</label> <input type="text"
				th:field="*{localisation}" id="localisation"> <br> <label
				for="ville">Ville</label> <input type="text" id="ville"
				th:field="*{ville}" placeholder="Ville"> <span
				th:if="${#fields.hasErrors('ville')}" th:errors="*{ville}" class="warning"></span> <br>
			<br>
			<input type="submit" value="Ajouter un potager">
		</form>
	</div>
	</div>
</div>
<div class="footer"><p>Anna Bot  /  Pierre Heydon  /  Clément Bertran</p></div>
</body>
</html>