<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Actions</title>
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
</head>
<body>
	<div class="navbar">

		<div class="container">
			<div class="row">

				<nav class="col navbar navbar-expand-lg navbar-dark">

					<div class="navbar-brand">Gestion Potager</div>
					<!--             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"> -->
					<!--               <span class="navbar-toggler-icon"></span> -->
					<!--             </button> -->
					<!--             <div id="navbarContent" class="collapse navbar-collapse"> -->
					<ul class="navbar-nav">
						<li class="nav-item active"><a class="nav-link"
							href="/accueil">Mes Potagers</a></li>
						<li class="nav-item"><a class="nav-link" href="/plante/add">Mes
								Plantes</a></li>
						<li class="nav-item"><a class="nav-link" href="/actions">Mes
								Actions</a></li>
					</ul>
					<!--             </div> -->
				</nav>
			</div>
		</div>
	</div>


	<!-- titre -->
	<h1>Qu'ai-je donc à faire aux potagers?</h1>


	<div class="container-fluid">
		<div class="row">
<!-- 		bloc1 -->
			<!-- tableau general dans un scrollbar -->

			<div id="DivPrincipale" class="col-md-8">
				<h4>Toutes mes actions à faire dans les 15 jours</h4>

				<!-- 				si nullite ou vide -->
				<div th:if="${actions} == null or ${actions.isEmpty()}">Vous
					n'avez rien à faire dans les deux semaines à venir !</div>
				<!-- 				else -->
				<div
					style="overflow-x: hidden; overflow-y: scroll; border: none; height: 400px;"
					th:if="${!actions.isEmpty()}">
					<table>
						<thead>
							<tr>
								<th>Date</th>
								<th>Action</th>
								<th>potager</th>
								<th>carre</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="action : ${actions}">
								<td th:text="${#dates.format(action.date, 'dd-MM-YYYY')}"></td>
								<td th:text="${action.evenement}"></td>
								<td th:text="${action.potager.nom}"></td>
								<td th:if="${action.carre ne null}"
									th:text="${action.carre.idCarre}"></td>
							</tr>
						</tbody>

					</table>
					<br>
				</div>
			</div>
		</div>


<!-- 		bloc2-->
		<!-- un formulaire d'ajout d'une action -->

		<div id="DivPrincipale" class="col-md-8">
			<h4>Ajouter une action à un potager</h4>
			<!-- choxi d'un potager -->

			<form th:action="@{/actions/add}" th:object="${action}" method="post">

				<!-- Selection plante -->
				<label for="potager">Potager</label> <select id="potager"
					th:name="idPotager">
					<option th:each="potager : ${listePotagers}"
						th:value="${potager.idPotager}" th:text="${potager.nom}">
					</option>
				</select> <label for="evenement">Action à faire</label> <input type="text"
					th:field="*{evenement}" id="evenement" placeholder="Action à faire">
				<span th:if="${#fields.hasErrors('evenement')}"
					th:errors="*{evenement}" class="warning"></span> <br> <label
					for="date">Date </label> <input type="date" th:field="*{date}"
					id="date" required> <span
					th:if="${#fields.hasErrors('date')}" th:errors="*{date}"
					class="warning"></span> <br>
				<br>
				<input type="submit" value="Ajouter une action">
			</form>




		</div>


	</div>




<!-- 		bloc3 -->

	<!-- 	<!-- button visulaition des actions pour un potager  -->
	<div id="DivPrincipale" class="col-md-4">

		
			<h4>Actions à faire pour un potager</h4>
			<table>
				<thead>
					<tr>
						<th>Potager</th>
						<th>Selectionner</th>
					</tr>
				</thead>
				<tbody>
					<!-- Pour chaque carré on va afficher les attributs -->
					<tr th:each="potager : ${listePotagers}">
						<td th:text="${potager.nom}"></td>

						<td><a
							th:href="@{/actions/find/{idPotager} (idPotager=${potager.idPotager})}">+</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<br> <br>
		
<!-- 		bloc4 -->
		<div id="DivPrincipale" th:if="${!listeActionsByPot.isEmpty()}">
			<div>
				<br>

			
  <h4 th:text="${nomPotager}">Potager : nomPotager</h4>
				<div th:if="${listeActionsByPot.isEmpty()}">
					<h6>pas d'action pour ce potager</h6>
				</div>
				<div
					style="overflow-x: hidden; overflow-y: scroll; border: none; height: 400px;"
					th:if="${!actions.isEmpty()}">
					<table th:if="${!listeActionsByPot.isEmpty()}">
						<thead>
							<tr>
								<th>Date</th>
								<th>Evenement</th>
								<th>potager</th>
								<th>carre</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="action : ${listeActionsByPot}">
								<td th:text="${#dates.format(action.date, 'dd-MM-YYYY')}"></td>
								<td th:text="${action.evenement}"></td>
								<td th:text="${action.potager.nom}"></td>
								<td th:if="${action.carre ne null}" th:text= "${action.carre.idCarre}"></td>
							</tr>
						</tbody>

					</table>
				</div>
			</div>
		</div>
	
	<!-- button visualisation des actions pour un carre
	-->
</body>
</html>