<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Actions</title>
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
</head>
<body>
	<div class="navbar">

		<div class="container">
			<div class="row">

				<nav class="col navbar navbar-expand-lg navbar-dark">

					<div class="navbar-brand">Gestion Potager</div>
					<!--             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"> -->
					<!--               <span class="navbar-toggler-icon"></span> -->
					<!--             </button> -->
					<!--             <div id="navbarContent" class="collapse navbar-collapse"> -->
					<ul class="navbar-nav">
						<li class="nav-item active"><a class="nav-link"
							href="/accueil">Mes Potagers</a></li>
						<li class="nav-item"><a class="nav-link" href="/plante/add">Mes
								Plantes</a></li>
						<li class="nav-item"><a class="nav-link" href="/actions">Mes
								Actions</a></li>
					</ul>
					<!--             </div> -->
				</nav>
			</div>
		</div>
	</div>


	<h1>Qu'ai-je donc à faire aux potagers?</h1>


	<div class="container-fluid">
		<div class="row">

			<div id="DivPrincipale" th:if="${#lists.isEmpty(listePotagers) }">
				<h4>Toutes mes actions à faire dans les 15 jours</h4>
				<h6>Aucun potager n'existe!</h6>
			</div>

			<div id="DivPrincipale" th:if="${!#lists.isEmpty(listePotagers) }">


				<h4>Toutes mes actions à faire dans les 15 jours</h4>


				<h6 th:if="${#lists.isEmpty(actions)}">Vous n'avez rien à faire
					dans les deux semaines à venir !</h6>


				<div th:if="${!#lists.isEmpty(actions)}"
					style="overflow-x: hidden; overflow-y: scroll; border: none; max-height: 400px;">

					<table>
						<thead>
							<tr>
								<th>Date</th>
								<th>Action</th>
								<th>potager</th>
								<th>carre</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="action : ${actions}">
								<td th:text="${#dates.format(action.date, 'dd-MM-YYYY')}"></td>
								<td th:text="${action.evenement}"></td>
								<td th:text="${action.potager.nom}"></td>
								<td th:if="${action.carre !=null}"
									th:text="${action.carre.idCarre}"></td>
								<td th:if="${action.carre ==null}">'tous'</td>
								<td><a
									th:href="@{/actions/supprimer/{idAction} (idAction=${action.idAction})}">-</a>
								</td>
							</tr>
						</tbody>
					</table>
					<br>
				</div>
			</div>



			<div id="DivPrincipale" class="col-md-4">
				<h4>Ajouter une action à un potager</h4>
				<form th:action="@{/actions/add}" th:object="${action}"
					method="post">
					<label for="potager">Potager</label> <select id="potager"
						th:name="idPotager" required>
						<option th:each="potager : ${listePotagers}"
							th:value="${potager.idPotager}" th:text="${potager.nom}">
						</option>
					</select> <label for="evenement">Action à faire</label> <input type="text"
						th:field="*{evenement}" id="evenement"
						placeholder="Action à faire" required> <br> <br>
					<label for="date">Date </label> <input type="date"
						th:field="*{date}" id="date" required> <span
						th:if="${#fields.hasErrors('date')}" th:errors="*{date}"
						class="warning"></span> <br> <br> <input type="submit"
						value="Ajouter une action">
				</form>
			</div>
		</div>




		<div class="row" id="where">
			<div id="DivPrincipale" th:if="${!#lists.isEmpty(listePotagers) }"
				class="col-md-4">
				<br>
				<h4>Actions à faire pour un potager</h4>
				<table>
					<thead>
						<tr>
							<th>Potager</th>
							<th>voir les actions</th>
							<th>voir le potager</th>
						</tr>
					</thead>
					<tbody>
						<!-- Pour chaque carré on va afficher les attributs -->
						<tr th:each="potager : ${listePotagers}">
							<td th:text="${potager.nom}"></td>
							<td><a
								th:href="@{/actions/find/{idPotager}#where (idPotager=${potager.idPotager})}">+</a>
							</td>
							<td><a
								th:href="@{/potager/{idPotager}(idPotager=${potager.idPotager})}">+</a></td>
						</tr>
					</tbody>
				</table>
				<br>
			</div>




			<div id="DivPrincipale"
				th:if="${#lists.isEmpty(listeActionsByPot)} and ${!#lists.isEmpty(listePotagers)} and  ${potager}">
				<div>
					<br>
					<h4 th:text="${nomPotager}">Potager : nomPotager</h4>
					<h6>Aucune action à faire pour la quinzaine dans ce potager!</h6>
				</div>
			</div>

			<div id="DivPrincipale"
				th:if="${!#lists.isEmpty(listeActionsByPot)} and ${!#lists.isEmpty(listePotagers)} and  ${potager}">
				<div>
					<br>
					<h4 th:text="${nomPotager}">Potager : nomPotager</h4>
					<div
						style="overflow-x: hidden; overflow-y: scroll; border: none; height: 400px;">
						<table>

							<thead>
								<tr>
									<th>Date</th>
									<th>Action à faire</th>
									<th>Potager</th>
									<th>Carré</th>
									<th>Supprimer</th>
								</tr>
							</thead>
							<tbody>

								<tr th:each="action :${listeActionsByPot}">
									<td th:text="${#dates.format(action.date, 'dd-MM-YYYY')}"></td>
									<td th:text="${action.evenement}"></td>
									<td th:text="${action.potager.nom}"></td>
									<td th:if="${action.carre !=null}"
										th:text="${action.carre.idCarre}"></td>
									<td th:if="${action.carre ==null}">'tous'</td>
									<td><a
										th:href="@{/actions/supprimer/{idAction} (idAction=${action.idAction})}">-</a>
									</td>
								</tr>

							</tbody>

						</table>
						<br>

					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="footer">
		<p>Anna Bot / Pierre Heydon / Clément Bertran</p>
	</div>
</body>
</html>