<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Modifier ma plante</title>
</head>
<body>
<h1>Modifier ma plante</h1>

<form th:action="@{/plante/update/{id}(id=${plante.idPlante})}" th:object="${plante}" method="post">
					<label for="nom">Nom</label> <input type="text" th:field="*{nom}" id="nom" placeholder="nom"> 
					<span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span> 
					<label for="typePlante">Type</label> 
					<select th:field="*{typePlante}" id="typePlante" name="typePlante">
						<option value="FRUIT">FRUIT</option>
						<option value="FEUILLE">FEUILLE</option>
						<option value="RACINE">RACINE</option>
					</select> 
					
					<span th:if="${#fields.hasErrors('typePlante')}" th:errors="*{typePlante}"></span> 
					<label for="variete">Variété</label>
					<input type="text" th:field="*{variete}" id="variete" placeholder="variete"> 
					<span th:if="${#fields.hasErrors('variete')}" th:errors="*{variete}"></span>

					<label for="surfaceOccupee">Surface Occupée</label> 
					<input type="text" th:field="*{surfaceOccupee}" id="surfaceOccupee"
						placeholder="surfaceOccupee"> <span
						th:if="${#fields.hasErrors('surfaceOccupee')}"
						th:errors="*{surfaceOccupee}"></span> <input type="submit"
						value="Modifier la plante">
				</form>

</body>
</html>