<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="/style.css">
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<title>Modifier ma plante</title>
</head>
<body>
<div class="navbar">

      <div class="container">
        <div class="row">

          <nav class="col navbar navbar-expand-lg navbar-dark">

            <div class="navbar-brand">Gestion Potager</div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarContent" class="collapse navbar-collapse">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/accueil">Mes Potagers</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/plante/add">Mes Plantes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/">Mes Actions</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
	<div id="DivPrincipale">
		<h4>Modifier ma plante</h4>

		<form th:action="@{/plante/update/{id}(id=${plante.idPlante})}"
			th:object="${plante}" method="post">
			<label for="nom">Nom</label> <input type="text" th:field="*{nom}"
				id="nom" placeholder="nom"> <span
				th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span> <label
				for="typePlante">Type</label> <select th:field="*{typePlante}"
				id="typePlante" name="typePlante">
				<option value="FRUIT">FRUIT</option>
				<option value="FEUILLE">FEUILLE</option>
				<option value="RACINE">RACINE</option>
			</select> <span th:if="${#fields.hasErrors('typePlante')}"
				th:errors="*{typePlante}"></span> <label for="variete">Variété</label>
			<input type="text" th:field="*{variete}" id="variete"
				placeholder="variete"> <span
				th:if="${#fields.hasErrors('variete')}" th:errors="*{variete}"></span>

			<label for="surfaceOccupee">Surface Occupée</label> <input
				type="text" th:field="*{surfaceOccupee}" id="surfaceOccupee"
				placeholder="surfaceOccupee"> <span
				th:if="${#fields.hasErrors('surfaceOccupee')}"
				th:errors="*{surfaceOccupee}"></span> <input type="submit"
				value="Modifier la plante">
		</form>
	</div>
</body>
</html>