<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Détail du potager</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>

	<h1>Mon Potager</h1>

	<p>
		<a href="/accueil">Accueil</a>
	</p>
	<div id="DivPrincipale">
		<h4>Liste des carrés de mon potager</h4>

		<table>
			<thead>
				<tr>
					<th>Surface</th>
					<th>Type de sol</th>
					<th>Exposition</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<!-- Pour chaque carré on va afficher les attributs -->
				<tr th:each="carre : ${lstCarres}">
					<td th:text="${carre.surface}"></td>
					<td th:text="${carre.sol}"></td>
					<td th:text="${carre.exposition}"></td>
					<td>
					<a th:href="@{/potager/{idPotager}/deleteCarre/{idCarre} (idPotager=${idPotager}, idCarre=${carre.idCarre})}">Supprimer</a></td>

					<td><a th:href="@{/potager/{idPotager}/carre/{idCarre} (idPotager=${idPotager}, idCarre=${carre.idCarre})}">Visualiser</a></td>
					<form th:action="@{/potager/{idPotager}/addCarre(idPotager=${idPotager})}" th:object="${carre}" method="post">
				</tr>
			</tbody>
		</table>
	</div>

	
	
	
	<div id="DivPrincipale">
		<!-- 	<form th:action="@{/potager/{idPotager}/addCarre}(idPotager=${IDPotager})" th:object="${carre}" method="post"> -->
		<form
			th:action="@{/potager/{idPotager}/addCarre(idPotager=${idPotager})}"
			th:object="${carre}" method="post">

			<h4>Ajouter un carré</h4>


			<input type="text" th:field="*{surface}" placeholder="Surface">
			<input type="text" th:field="*{sol}" placeholder="Type de sol">

			<select name="exposition">
<!--ATTENTION MODIF -->
<!--    			Va chercher les valeurs de l'enum -->
   			<option 
   			th:each="exposition : ${T(fr.eni.GestionPotager.bo.Exposition).values()}" 
   			th:value="${exposition}" 
   			th:text="${exposition.displayValue}">
        	</option>
			</select>
						
			<input type="submit" value="Ajouter le carré">   
		
	</form>
	
<h4>Ajouter une plantation au carré</h4>
	

	<!-- Formulaire ajout plantation au carré -->
	<form 
	th:action="@{/potager/{idPotager}/carre/{idCarre}/addPlantation (idPotager=${idPotager}, idCarre=${carre.idCarre})}" 
	th:object="${plantation}" 
	method="post">
	
			<!-- 	lst plante -->
			<select th:name="planteID">				
				<option 
				th:each="plante : ${lstPlantes}"
                th:value="${plante.idPlante}"
                th:text="${plante.nom.toUpperCase()} +' '+ ${plante.variete}" >
                          
                </option>
			</select>
			<input type="text" th:field="*{quantite}" placeholder="Quantité">
			<label for="dateMiseEnPlace">Date de mise en place</label>
			<input type ="date" th:field="*{miseEnPlace}" id="dateMiseEnPlace" >	
			<label for="dateDeRecolte">Date de récolte</label>
			<input type ="date" th:field="*{recolte}"  id="dateDeRecolte">	
			<input type="submit" value="Ajouter plantation">   
		
	</form>
	
	<H3>Mes plantations dans mon carré	</H3>
	<table>
		<thead>
			<tr>
				<th>Plante</th>
				<th>Variété</th>
				<th>Quantité</th>
				<th>Date mise en place</th>
				<th>Date récolte</th>
			</tr>
		</thead>
		<tbody>
			<!-- 		Plantation(LocalDate miseEnPlace, LocalDate recolte, Integer quantite, Carre carre, Plante plante) -->
			<tr th:each="plantation : ${lstPlantations}">

				<td th:text="${plantation.plante.nom}"></td>
				<td th:text="${plantation.plante.variete}"></td>
				<td th:text="${plantation.quantite}"></td>
				<td th:text="${plantation.miseEnPlace}"></td>
				<td th:text="${plantation.recolte}"></td>
			</tr>
		</tbody>
	</table>
	<br>
	<p>
		<a href="/accueil">Accueil</a>
	</p>
	</div>
	<div id="DivPrincipale">
		<h4>Mes plantations dans mon carré</h4>
		<table>
			<thead>
				<tr>
					<th>Plante</th>
					<th>Variété</th>
					<th>Quantité</th>
					<th>Date mise en place</th>
					<th>Date récolte</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="plantation : ${lstPlantations}">

					<td th:text="${plantation.plante.nom}"></td>
					<td th:text="${plantation.plante.variete}"></td>
					<td th:text="${plantation.quantite}"></td>
					<td th:text="${plantation.miseEnPlace}"></td>
					<td th:text="${plantation.recolte}"></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>