<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Détail du potager</title>
</head>
<body>

	<h2>Mon Potager</h2>

	<h3>Liste des carrés de mon potager</h3>

	<table>
		<thead>
			<tr>
				<th>Id carre</th>

				<th>Surface</th>
				<th>Sol</th>
				<th>Exposition</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<!-- Pour chaque carré on va afficher les attributs -->
			<tr th:each="carre : ${lstCarres}">

				<td th:text="${carre.idCarre}"></td>

				<td th:text="${carre.surface}"></td>

				<td th:text="${carre.sol}"></td>
				<td th:text="${carre.exposition}"></td>
				<td><a
					th:href="@{/potager/{idPotager}/deleteCarre/{idCarre} (idPotager=${idPotager}, idCarre=${carre.idCarre})}">Supprimer</a></td>

				<td><a
					th:href="@{/potager/{idPotager}/carre/{idCarre} (idPotager=${idPotager}, idCarre=${carre.idCarre})}">Visualiser</a></td>
			</tr>
		</tbody>
	</table>



	<H3>Mon carré</H3>
	<table>
		<thead>
			<tr>
				<th>Plante</th>
				<th>Variété</th>
				<th>Quantité</th>
				<th>Date mise en place</th>
				<th>Date récolte</th>
			</tr>
		</thead>
		<tbody>
			<!-- 		Plantation(LocalDate miseEnPlace, LocalDate recolte, Integer quantite, Carre carre, Plante plante) -->
			<tr th:each="plantation : ${lstPlantations}">

				<td th:text="${plantation.plante.nom}"></td>
				<td th:text="${plantation.plante.variete}"></td>
				<td th:text="${plantation.quantite}"></td>
				<td th:text="${plantation.miseEnPlace}"></td>
				<td th:text="${plantation.recolte}"></td>



			</tr>
		</tbody>
	</table>

	<br>
	<p>
		<a href="/accueil">Accueil</a>
	</p>
</body>
</html>