<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style.css">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">

<meta charset="UTF-8">
<title>Mes Plantes</title>

</head>
<body>
	<div class="navbar">

		<div class="container">
			<div class="row">

				<nav class="col navbar navbar-expand-lg navbar-dark">
					<div class="navbar-brand">Gestion Potager</div>
<!-- 					<button class="navbar-toggler" type="button" data-toggle="collapse" -->
<!-- 						data-target="#navbarContent"> -->
<!-- 						<span class="navbar-toggler-icon"></span> -->
<!-- 					</button> -->
<!-- 					<div id="navbarContent" class="collapse navbar-collapse"> -->
						<ul class="navbar-nav">
							<li class="nav-item"><a class="nav-link" href="/accueil">Mes
									Potagers</a></li>
							<li class="nav-item active"><a class="nav-link"
								href="/plante/add">Mes Plantes</a></li>
							<li class="nav-item"><a class="nav-link" href="/">Mes
									Actions</a></li>
						</ul>
<!-- 					</div> -->
				</nav>
			</div>
		</div>
	</div>
	<h1>Mes plantes</h1>

<div class="container-fluid">
	<div class="row">

	<div id="DivPrincipale" class="col-md-4">
		<h4>Ajouter une plante</h4>



		<form th:action="@{/plante/add}" th:object="${plante}" method="post">
			<label for="nom">Nom</label> <input type="text" th:field="*{nom}"
				id="nom" placeholder="nom"> <span
				th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span> <label
				for="typePlante">Type</label> <select th:field="*{typePlante}"
				id="typePlante" name="typePlante">
				<option value="FRUIT">FRUIT</option>
				<option value="FEUILLE">FEUILLE</option>
				<option value="RACINE">RACINE</option>
			</select> <span th:if="${#fields.hasErrors('typePlante')}"
				th:errors="*{typePlante}"></span> <label for="variete">Variété</label>
			<input type="text" th:field="*{variete}" id="variete"
				placeholder="variete"> <span
				th:if="${#fields.hasErrors('variete')}" th:errors="*{variete}"></span>

			<label for="surfaceOccupee">Surface Occupée</label> <input
				type="text" th:field="*{surfaceOccupee}" id="surfaceOccupee"
				placeholder="surfaceOccupee"> <span
				th:if="${#fields.hasErrors('surfaceOccupee')}"
				th:errors="*{surfaceOccupee}"></span><br> <br> <input
				type="submit" value="Ajouter la plante">
		</form>
	</div>

	<div id="DivPrincipale" class="col-md-4">
		<h4>Mes Plantes</h4>
		<div th:switch="${plantes}">
			<h2 th:case="null">Pas de plantes pour l'instant !</h2>
			<div th:case="*">
				<table>
					<thead>
						<tr>
							<th>Nom</th>
							<th>Type</th>
							<th>Variété</th>
							<th>Surface Occupée (m²)</th>
							<th></th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="plante : ${plantes}">
							<td th:text="${plante.nom}"></td>
							<td th:text="${plante.typePlante}"></td>
							<td th:text="${plante.variete}"></td>
							<td th:text="${plante.surfaceOccupee}"></td>


							<td><a
								th:href="@{/plante/delete/{id}(id=${plante.idPlante})}">Effacer</a></td>

							<td><a th:href="@{/plante/find/{id}#where(id=${plante.idPlante})}">Visualiser</a></td>


							<td><a th:href="@{/plante/edit/{id}(id=${plante.idPlante})}">Modifier</a></td>



						</tr>
					</tbody>
				</table>
				<br>
			</div>
		</div>
	</div>
	</div>

	<div class="row"  id="where">
	<div id="DivPrincipale" class="col-md-8">

		<h4>Mes plantes aux potagers :</h4>


		<div th:switch="${plantations}">
			<!-- 			<h2 th:case="${plantations.isEmpty}"> toto</h2> -->
			<div th:case="*">

				<table>
					<thead>
						<tr>
							<th>Nom du potager</th>
							<th>le carré</th>
							<th>quantité de plants</th>
							<th></th>


						</tr>
					</thead>
					<tbody>
						<tr th:each="plantation : ${plantations}">
							<td th:text="${plantation.carre.potager.nom}"></td>
							<td th:text="${plantation.carre.idCarre}"></td>
							<td th:text="${plantation.quantite}"></td>
							<td><a
								th:href="@{/potager/{idPotager}(idPotager=${plantation.carre.potager.idPotager})}">visualiser</a></td>
						</tr>
					</tbody>
					</tbody>
				</table>


			</div>
		</div>
		</div>

	</div>
	<div class="place"></div>
</body>
</html>